img{
    margin: 0 auto;
    padding: 0;
}

.btn-gallery{
    margin-top: 5px;
}

.tasks li{
    display: flex;
    margin-top: 5px;
    padding: 13px;
    align-items: center;
    justify-content: space-between;
}

